@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-ui/styles.css";
/* @import "@liveblocks/react-lexical/styles.css"; */
@import "@liveblocks/react-tiptap/styles.css";

@import "../styles/dark-theme.css";

/* ========================================== TAILWIND STYLES */
@layer base {
  :root {
    background: #09111f;
    color: #fff;
    margin: 0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2e3d5b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

@layer utilities {
  .text-28-semibold {
    @apply text-[28px] font-semibold;
  }
  .text-10-regular {
    @apply text-[10px] font-normal;
  }

  .gradient-blue {
    @apply bg-gradient-to-t from-blue-500 to-blue-400;
  }
  .gradient-red {
    @apply bg-gradient-to-t from-red-500 to-red-400;
  }

  .shad-dialog {
    @apply w-full max-w-[400px] rounded-xl border-none bg-doc bg-cover px-5 py-7 shadow-xl sm:min-w-[500px] !important;
  }

  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .shad-select {
    @apply w-fit border-none bg-transparent text-blue-100 !important;
  }

  .shad-select svg {
    @apply ml-1 mt-1;
  }

  .shad-select-item {
    @apply cursor-pointer bg-dark-200 text-blue-100 focus:bg-dark-300 hover:bg-dark-300 focus:text-blue-100 !important;
  }

  .shad-popover {
    @apply w-[460px] border-none bg-dark-200 shadow-lg !important;
  }

  .floating-toolbar {
    @apply flex w-full min-w-max items-center justify-center gap-2 rounded-lg bg-dark-350 p-1.5 shadow-xl;
  }

  .floating-toolbar-btn {
    @apply relative inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50;
  }

  .toolbar-wrapper {
    @apply z-50 custom-scrollbar w-screen overflow-auto border-y border-dark-300 bg-dark-100 pl-3 pr-4 shadow-sm;
  }

  .editor-wrapper {
    @apply custom-scrollbar h-[calc(100vh-140px)] gap-5 overflow-auto px-5 pt-5 lg:flex-row lg:items-start lg:justify-center  xl:gap-10 xl:pt-10;
  }

  .header {
    @apply min-h-[92px] min-w-full flex-nowrap bg-dark-100 flex w-full items-center justify-between gap-2 px-4;
  }

  .document-list-container {
    @apply flex flex-col items-center mb-10 w-full gap-10 px-5;
  }

  .document-list-title {
    @apply max-w-[730px] items-end flex w-full justify-between;
  }

  .document-list-item {
    @apply flex items-center justify-between gap-4 rounded-lg bg-doc bg-cover p-5 shadow-xl;
  }

  .document-list-empty {
    @apply flex w-full max-w-[730px] flex-col items-center justify-center gap-5 rounded-lg bg-dark-200 px-10 py-8;
  }

  .document-title-input {
    @apply min-w-[78px] border-none bg-transparent px-0 text-left text-base font-semibold leading-[24px] focus-visible:ring-0 focus-visible:ring-offset-0 disabled:text-black sm:text-xl md:text-center !important;
  }

  .document-title {
    @apply line-clamp-1 border-dark-400 text-base font-semibold leading-[24px] sm:pl-0 sm:text-xl;
  }

  .view-only-tag {
    @apply rounded-md bg-dark-400/50 px-2 py-0.5 text-xs text-blue-100/50;
  }

  .collaborators-list {
    @apply hidden items-center justify-end -space-x-3 overflow-hidden sm:flex;
  }

  .share-input {
    @apply h-11 flex-1 border-none bg-dark-400 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }

  .remove-btn {
    @apply rounded-lg bg-transparent px-0 text-red-500 hover:bg-transparent;
  }

  .comments-container {
    @apply mb-10 space-y-4 lg:w-fit flex w-full flex-col items-center justify-center;
  }

  .comment-composer {
    @apply w-full max-w-[800px] border border-dark-300 bg-dark-200 shadow-sm lg:w-[350px];
  }

  .comment-thread {
    @apply w-full max-w-[800px] border border-dark-300 bg-dark-200 shadow-sm lg:w-[350px] transition-all;
  }

  .loader {
    @apply flex size-full h-screen items-center justify-center gap-3 text-white;
  }

  /* ======================== Auth Pages */
  .auth-page {
    @apply flex h-screen w-full flex-col items-center justify-center gap-10;
  }

  /* ======================== Home Page */
  .home-container {
    @apply relative flex min-h-screen w-full flex-col items-center gap-5 sm:gap-10;
  }

  .document-ul {
    @apply flex w-full max-w-[730px] flex-col gap-5;
  }

  /* ======================== CollaborativeRoom */
  .collaborative-room {
    @apply flex size-full max-h-screen flex-1 flex-col items-center overflow-hidden;
  }
}

/* ======================== Clerk Override */
.cl-avatarBox {
  width: 36px;
  height: 36px;
}

.cl-userButtonTrigger {
  height: fit-content !important;
}

.cl-cardBox,
.cl-signIn-start,
.cl-signUp-start,
.cl-footer {
  background: #060d18;
  box-shadow: none;
  padding: 20px;
}

.cl-socialButtonsBlockButton,
.cl-socialButtonsBlockButton:hover {
  height: 40px;
  background-color: #3371ff;
  color: #fff;
}

.cl-internal-2gzuzc {
  filter: brightness(1000%);
}

.cl-logoBox {
  height: 52px;
}

/* ======================== Liveblocks Override */
.lb-root {
  --lb-accent-subtle: #0b1527;
  --lb-radius: 0px;
  --lb-dynamic-background: #1b2840;
}

.lb-comment,
.lb-thread-comments,
.lb-composer,
.lb-emoji-picker,
.lb-emoji-picker-content,
.lb-comment-reaction {
  background-color: #0f1c34;
  /* background-color: yellow; */
  /* color: red; */
  color: #fff;
}

.lb-button {
  --lb-foreground-moderate: #fff;
}

.lb-button:where([data-variant="primary"]) {
  background-color: #161e30;
  color: #b4c6ee;
  padding: 8px;
}

.lb-button:where(
    [data-variant="default"]:not(
        :is(
            :enabled:hover,
            :enabled:focus-visible,
            [aria-expanded="true"],
            [aria-selected="true"]
          )
      )
  ) {
  color: #b4c6ee;
}

.lb-button:where([data-variant="toolbar"]:not(:enabled:hover)) {
  /* color: #b4c6ee8f; */
  color: #b4c6ee9b;
}
/* .lb-button:where(:not([aria-selected="true"])) {
  color: #b4c6ee70;
} */

.lb-button:where(
    :enabled:hover,
    :enabled:focus-visible,
    [aria-expanded="true"],
    [aria-selected="true"]
  ) {
  --lb-button-background: #161e30;

  color: #b4c6ee;
}

.lb-inbox-notification-list-item:where(:not(:last-of-type)) {
  border-bottom: none;
}

.lb-comment-body,
.lb-dropdown-item,
.lb-dropdown-item-icon,
.lb-composer-editor {
  color: #fff;
}

.lb-composer-action {
  padding: 8px;
}

.lb-comment-content {
  background: #0b1527;
  margin-top: 16px;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
}

.lb-emoji-picker-search::placeholder {
  color: #b4c6ee69;
}

/* .lb-icon-container * {
  color: #b4c6ee69;
  stroke: #b4c6ee69;
}
  /* color: #b4c6ee69; */
/* stroke: #b4c6ee69; */

.lb-comment-date,
.lb-lexical-mention-suggestion-user,
.lb-composer-suggestions-list-item,
.lb-inbox-notification-date,
.lb-emoji-picker-category-header-title,
.lb-emoji-picker-search,
.lb-comment-author {
  color: #b4c6ee;
}

.lb-emoji-picker-header *,
.lb-comment-attachment *,
.lb-composer-editor-container * {
  color: #b4c6eee4;
}

.lb-tiptap-thread-mark {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.5);
  color: #ffffff;

  padding: 0 5px;
  background: linear-gradient(
    90deg,
    #ff69b4,
    #ffa07a,
    #ffff00,
    #00ff00,
    #0000ff,
    #ff00ff
  );
  background-size: 400% 400%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-position 0.5s ease;
  animation: rainbow 260s ease infinite;
}

.lb-tiptap-thread-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ff69b4,
    #ffa07a,
    #ffff00,
    #00ff00,
    #0000ff,
    #ff00ff
  );
  background-size: 400% 400%;
  filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.lb-tiptap-thread-mark:hover::before {
  opacity: 1;
  animation: glow 2s ease infinite;
  transition: all 0.5s ease;
}

.lb-tiptap-thread-mark:has(.lb-tiptap-thread-mark-selected) {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0);
  position: relative;
  display: inline-block;
  padding: 0 5px;
  background: linear-gradient(
    90deg,
    #ff69b4,
    #ffa07a,
    #ffff00,
    #00ff00,
    #0000ff,
    #ff00ff
  );
  background-size: 400% 400%;
  animation: rainbow 10s ease infinite;
  border-radius: 10px;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lb-tiptap-thread-mark-selected {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.5);
}

.lb-tiptap-thread-mark-selected::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ff69b4,
    #ffa07a,
    #ffff00,
    #00ff00,
    #0000ff,
    #ff00ff
  );
  background-size: 400% 400%;
  animation: rainbow 10s ease infinite;
  filter: blur(10px);
  transition: opacity 0.5s ease;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glow {
  0% {
    filter: blur(10px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(10px);
  }
}

/* .lb-tiptap-thread-mark-selected {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */

.lb-comment-link:not(:hover) {
  color: rgb(33, 111, 219);
  /* text-decoration: none; */
}

.data-liveblocks-portal {
  color: #b4c6ee !important;
}

.lb-root:where(:not(.lb-root .lb-root)) {
  --lb-dynamic-background: #1b2840;
  color: #fff;
}

.lb-composer-editor :where([data-placeholder]) {
  color: #b4c6ee;
  font-size: 14px;
}

.lb-lexical-floating-threads-thread:where([data-resolved]) {
  opacity: 40%;
}

.lb-elevation {
  background: #0f1c34;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 1em;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul li {
    list-style-type: disc;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ol li {
    list-style-type: decimal;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      accent-color: #b4c6ee;
      background-color: #0f1c34;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      height: 18px;
      width: 18px;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid black;
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: gray;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: darkgray;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--lb-accent-subtle);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  /* Image-specific styling */
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    outline: none rgba(33, 111, 219, 0.2);
    transition: outline-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &.ProseMirror-selectednode {
      outline: 2px dashed rgba(33, 111, 219, 0.7);
      outline-offset: 3px;
      box-shadow: 0px 0px 8px rgba(33, 111, 219, 0.5);
    }
  }

  /* Link styles */
  a {
    color: rgb(33, 111, 219); /* Nice blue color */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make it stand out */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth effect */

    &:hover {
      color: rgb(25, 90, 180); /* Darker blue on hover */
      text-shadow: 0px 0px 8px rgba(33, 111, 219, 0.5); /* Soft glow effect */
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-color: rgba(33, 111, 219, 0.1);
      transition: text-decoration color 0.4s ease-in-out,
        text-decoration 0.4s ease-in-out;
    }

    &:active {
      color: rgb(15, 70, 150); /* Even darker when clicked */
    }

    &:focus {
      outline: 2px dashed rgba(33, 111, 219, 0.7); /* Accessibility focus outline */
      outline-offset: 3px;
    }
  }
}
